<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lulo Bank Suit Results">
  <listeners>
    <listener class-name = "com.lulobank.CustomReporter" />
 </listeners>
  <test name="Test Basics 1">
      <classes>
        <class name="com.lulobank.AppTest"/>
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->